h2 {
  text-align: center;
  -moz-text-size-adjust: auto;
}

 .frame {
   text-align: center;
  height: 500px ;
  width: 350px ;
   margin: 50px auto 30%;
   position: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 5px;

}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.disconnect {
  text-align: center;
  margin-top: 50px;
}
 .logo-connection {
   height: 25px;
   width: 25px;
 }

.input-group-text {
  color: #050e83;
  border: 0;
  margin-top: 50px
}
