<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    color:black;
    background-color:white;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbn981Fe0w2j-QN69qKWv3x-eHEBEJeVpAOg&usqp=CAU);
    background-size: 100% ;
  }
</style>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"> <a routerLink="auth">Authentication</a></li>
      <li routerLinkActive="active"> <a routerLink="professional">Professional</a></li>
    </ul>
    <div class="navbar-right">
      <p> </p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
