<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"> <a routerLink="auth">Authentication</a></li>
      <li routerLinkActive="active"> <a routerLink="professional">Professional</a></li>
    </ul>
    <div class="navbar-right">
      <p> </p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<noscript>
  <div>
    Ce site utilise du Javascript, or celui-ci a été désactivé dans votre navigateur. Vous ne pourrez pas consulter ce site si vous n'autorisez pas la technologie Javascript.
  </div>
</noscript>

</body>

<footer>
  <p> Platerforme collaborative </p>
  <p> GestionPro version 1.0.2 - copyright © 2020</p>
</footer>
